name: CI for excel diff
on:
  pull_request:
    branches:
      - 'main'
    types: [opened]

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  comment_diff:
    runs-on: ubuntu-latest
    env:
      BASE_BRANCH: main
      DIFF_PATH: 'docs/*.xlsx'
    steps:
      - name: Switch to pull request branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: echo filenames
        run: |
          echo $(git diff --name-only origin/${GITHUB_BASE_REF}...origin/${GITHUB_HEAD_REF})
      
      - name: diff filenames
        run: |
          HAS_XLSX=false
          for n in $(git diff --name-only origin/${GITHUB_BASE_REF}...origin/${GITHUB_HEAD_REF})
          do
            if [[ $n == *.xlsx ]]; then
              echo "HAS_XLSX=true" >> $GITHUB_ENV
              break
            fi
          done

      - name: check to have xlsx
        if: env.HAS_XLSX == 'false'
        run: echo "no xlsx files"

      - name: Fetch base branch
        if: env.HAS_XLSX == "true"
        run: git fetch origin ${BASE_BRANCH}:${BASE_BRANCH}

      - name: Set up JDK 17
        if: env.HAS_XLSX == 'true'
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Run actions using diff_files
        if: env.HAS_XLSX == 'true'
        run: |
          git config --global diff.openxml.textconv ./scripts/unopenxml

          echo "DIFF<<EOF" >> $GITHUB_ENV
          git diff ${BASE_BRANCH} HEAD -- "${DIFF_PATH}" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: comment
        if: env.HAS_XLSX == 'true'
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          header: diff excel files
          message: |
            <details>
              <summary>Show Diff Excel Files</summary>

              ```
              ${{ env.DIFF }}
              ```

            </details>

